* {
    margin: 0;
    padding: 0;
}

#div_header {
   
    background-color:#FDFEFF;
    display: block;
    margin: auto; 
    width: 50%; 
    height:130px;
 
}
#div_logo {
    width: 120px;
    margin: auto;
    margin-top: 15px; 
    text-align: center;
 
}

#div_logo_img {
    width:120px;
    height:120px; 
 
}

#div_menu {
    width: 100%; 
    height:30px; 
    margin: auto; 
    margin-top: 0;
    border-bottom-color: #daa520;
    border-bottom-style: solid;
    background-color:#FDFEFF; 
    margin-top: -15px;
    padding: 5px;
    text-align: center;
}

#buttonmenu {
    color: black;
    background-color: #FDFEFF;
    border: none;
    padding: 8px 8px;
    font-family: Ariel, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
        
#buttonmenu:hover {
    background-color: #daa520;
    color: ghostwhite;
    font-size: 16px;
}

#div_mobile_photo {
    width: 100%;
    text-align: center;
    padding: 5px;
}

#div_photo {
    display: none;
    width:50%; 
    padding: 2px;
    margin: auto; 
    margin-top: 15px; 
    text-align: center;
    margin-bottom: 15px;
}

#div_bio { 
    width: 85%; 
    margin: auto; 
    margin-bottom: 10px; 
    margin-top: 5px;      
    border: 1px solid  #e6e6e6; 
    border-radius: 5px; 
    box-shadow:5px 10px 8px  #d9d9d9;
}

#bio_img {
    width: 90px;
    float: left; 
    padding: 20px;
}

#bio_p {
    color: #333333; 
    font-size: 13px; 
    font-family: sans-serif; 
    word-spacing: 2 px;  
    padding: 20px;
}

#div_paypal {
    width: 100%;
    text-align: center; 
    padding: 10px;
    margin-bottom: 20px;
}

#div_social {
    width:100%; 
    text-align: center;
}

#div_bottom {
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
}

footer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
    background-color: #800020;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* For tablet/ipad */
@media only screen and (min-width: 768px) {

    #div_header {
   
    background-color:#FDFEFF;
    display: block;
    margin: auto; 
    width: 50%; 
    height:210px;
 
}
#div_logo {
    width: 120px;
    margin: auto;
    margin-top: 15px; 
    text-align: center;
 
}

#div_logo_img {
    width:188px;
    height:188px; 
    box-shadow: 5px 5px 10px #363636;
}

#div_menu {
    width: 50%; 
    height:30px; 
    margin: auto; 
    margin-top: 0;
    border-bottom-color: #daa520;
    border-bottom-style: solid;
    background-color:#FDFEFF; 
    margin-top: -15px;
    padding: 5px;
    text-align: left;
}

#buttonmenu {
    color: black;
    background-color: #FDFEFF;
    border: none;
    padding: 8px 8px;
    font-family: Ariel, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
}
        
#buttonmenu:hover {
    background-color: #daa520;
    color: ghostwhite;
    font-size: 16px;
}

#div_mobile_photo {
    display: none;
    width: 100%;
    text-align: center;
    padding: 5px;
}
    
#div_photo {
    display: block;
    width:50%; 
    padding: 2px;
    margin: auto; 
    margin-top: 15px; 
    text-align: center;
    margin-bottom: 15px;
}
    
#div_bio { 
    width: 32%; 
    margin: auto; 
    margin-bottom: 10px; 
    margin-top: 5px;      
    border: 1px solid  #e6e6e6; 
    border-radius: 5px; 
    box-shadow:5px 10px 8px  #d9d9d9;
}

#bio_img {
    width: 105px;
    float: left; 
    padding: 20px;
}

#bio_p {
    color: #333333; 
    font-size: 12px; 
    font-family: sans-serif; 
    word-spacing: 2 px;  
    padding: 20px;
}

#div_paypal {
    width: 100%;
    text-align: center; 
    padding: 10px;
    margin-bottom: 20px;
}

#div_social {
    width:100%; 
    text-align: center;
}

#div_bottom {
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
}

footer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    padding: 20px;
    background-color: #800020;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}


}

/* For laptop/desktop */
@media only screen and (min-width: 1000px) {

    #div_header {
   
    background-color:#FDFEFF;
    display: block;
    margin: auto; 
    width: 50%; 
    height:210px;
 
}
#div_logo {
    width: 120px;
    margin: auto;
    margin-top: 15px; 
    text-align: center;
 
}

#div_logo_img {
    width:188px;
    height:188px; 
    box-shadow: 5px 5px 10px #363636;
}

#div_menu {
    width: 50%; 
    height:30px; 
    margin: auto; 
    margin-top: 0;
    border-bottom-color: #daa520;
    border-bottom-style: solid;
    background-color:#FDFEFF; 
    margin-top: -15px;
    padding: 5px;
    text-align: left;
}

#buttonmenu {
    color: black;
    background-color: #FDFEFF;
    border: none;
    padding: 8px 8px;
    font-family: Ariel, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
}
        
#buttonmenu:hover {
    background-color: #daa520;
    color: ghostwhite;
    font-size: 16px;
}

#div_mobile_photo {
    display: none;
    width: 100%;
    text-align: center;
    padding: 5px;
}
    
#div_photo {
    display: block;
    width:50%; 
    padding: 2px;
    margin: auto; 
    margin-top: 15px; 
    text-align: center;
    margin-bottom: 15px;
}
    
#div_bio { 
    width: 32%; 
    margin: auto; 
    margin-bottom: 10px; 
    margin-top: 5px;      
    border: 1px solid  #e6e6e6; 
    border-radius: 5px; 
    box-shadow:5px 10px 8px  #d9d9d9;
}

#bio_img {
    width: 105px;
    float: left; 
    padding: 20px;
}

#bio_p {
    color: #333333; 
    font-size: 12px; 
    font-family: sans-serif; 
    word-spacing: 2 px;  
    padding: 20px;
}

#div_paypal {
    width: 100%;
    text-align: center; 
    padding: 10px;
    margin-bottom: 20px;
}

#div_social {
    width:100%; 
    text-align: center;
}

#div_bottom {
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
}

footer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    padding: 20px;
    background-color: #800020;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}


}

