* {
    margin: 0;
    padding: 0;
}

#div_sticky {
 
    position: sticky; top: 0;
}

#div_header {
   
    background-color:#FDFEFF;
    display: block;
    margin: auto; 
    width: 100%; 
    height:130px;
 
}
#div_logo {
    width: 80%;
    margin: auto;
    margin-top: 15px; 
    text-align: center;
    background-color:#FDFEFF;

}

#div_logo_img {
    width:120px;
    height:120px; 
    box-shadow: 5px 5px 10px #363636;
 
}

/* Menu for mobile start */
.dropdown_button {
    background-color: #daa520;
    color: white;
    padding: 12px;
    margin-left: 0px;
    font-size: 15px;
    font-family: Ariel, sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown_menu {
    position: relative;
    display:inline-block;
    width: 100%;
    background-color:white;
    margin-top: -5px;
    border-bottom: 1px solid #daa520;
    margin-bottom: 15px;
    
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #daa520;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    z-index: 1;
    font-family: Ariel, sans-serif;

}


.dropdown_content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    background-color: #daa520;
}

.dropdown_content a:hover {
     background-color: #daa520;
}

.dropdown_menu:hover .dropdown_content {
    display: block;
}

.dropdown_menu:hover .dropdown_botton {
    background-color:#daa520;
}
/* Menu for mobile end */



/* Menu for desktop*/
#div_menu {
    display: none;
    width: 100%; 
    height:30px; 
    margin: auto; 
    margin-top: 0;
    border-bottom-color: #daa520;
    border-bottom-style: solid;
    background-color:#FDFEFF; 
    margin-top: -15px;
    padding: 5px;
    text-align: center;
}

#buttonmenu {
    color: black;
    background-color: #FDFEFF;
    border: none;
    padding: 8px 8px;
    font-family: Ariel, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    border-bottom: 1px solid #daa520;
}
        
#buttonmenu:hover {
    background-color: #daa520;
    color: ghostwhite;
    font-size: 16px;
}
/* Menu for desktop end*/


#div_bookshelf {
    margin: auto; 
    width: 100%;
    text-align: center; 
    margin-left: 5px
}

#bookshelf_img {
   margin: auto;
    width:100%;
    height: 80px;
}

#note {
    width: 90%;
    margin: auto;
    margin-left: 6px;
    font-family: Ariel, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#81B29A;
    color: white;
    font-size: 14px;
    border-radius: 0px;
    text-align: center;
    }
#block { display: none}
 #table_wrap {
    display: table; 
    width: 100%; 
    margin: auto;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0; 
    background-color: #F4F1DE; 
    border-radius: 0px;
    }
    
 #recipe {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: Ariel, sans-serif;
    color: #3D405B;
}
#recipe th {
    padding: 5px;
    width: 20%;
    background-color: #E07A5F;
    color: white;
    font-size: 11px;
    border-radius: 5px; 
}
        
#recipe td {
    padding: 2px;  
    font-size: 11px;
    font-weight: bold;
    color:#3D405B; 
    text-align: left;
}
        
#recipe td:hover {
    background-color:#81B29A;
    color: #3D405B;
}
        
#recipe a {
    text-decoration: none;
    color:#3D405B; 
}
        
#recipe a:hover {
    color:#3D405B;
    font-size: 110%;
}
   

#div_month {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    font-family: Ariel, sans-serif;
    margin-top: 10px;
    text-align: center;
    }

#note_button {
    width: 100%;
    text-decoration: none;
    border: none;
    background-color: #E07A5F;
    color: white;
    font-size: 14px;
    background-color:#81B29A;
    padding: 10px;
    font-weight: bold;
    }
#note_button:hover {
    color:#3D405B;
    font-weight: bold;
    background-color:#81B29A;
    cursor: pointer;
    }    

footer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
    background-color: #800020;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* Slideshow code start here */
.slider ul{
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: runSlider 15s linear infinite;
}
.slider img{
    width: 200px;
    margin-right: 5px;
}
.slider li{
    letter-spacing: 1px;
    font-family: monospace;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
}
.slider{
    overflow: hidden;
    width: 100%;
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;

}
@keyframes runSlider{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-265px * 7.5 ));
    }
}


    
    
/* For tablet/ipad air */
@media only screen and (min-width: 768px) {
     #div_header {
   
    background-color:#FDFEFF;
    display: block;
    margin: auto; 
    text-align: center;
    width: 100%; 
    height:210px;
 
}
#div_logo {
    width: 100%;
    margin: auto;
    margin-top: 15px; 
    text-align: center;
 
}

#div_logo_img {
    width:188px;
    height:188px; 
    box-shadow: 5px 5px 10px #363636;
}

.dropdown_menu {
    display: none;
}

#div_menu {
    display: block;
    width: 100%; 
    height:30px; 
    margin: auto; 
    margin-top: 0;
    border-bottom-color: #daa520;
    border-bottom-style: solid;
    background-color:#FDFEFF; 
    margin-top: -20px;
    padding: 5px;
    text-align: left;
}

#buttonmenu {
    color: black;
    background-color: #FDFEFF;
    padding: 4px 4px;
    font-family: Ariel, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 2px 2px;
    cursor: pointer;
    border-bottom: none;
}
        
#buttonmenu:hover {
    background-color: #daa520;
    color: ghostwhite;
    font-size: 17px;
}
#block { display: none}
    
 #div_bookshelf {
    
    margin: auto; 
    width: 100%;
    text-align: center; 
    margin-left: 5px
}
#bookshelf_img {
    height: 100px;
    width: 500px;
    margin: auto;
}

 #note {
    width: 90%;
    margin: auto;
    font-family: Ariel, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#81B29A;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    text-align: center;
     margin-left: 5px;
    }
    
#table_wrap {
    display: table; 
    width: 100%; 
    margin: auto; 
    margin-bottom: 0; 
    background-color: #F4F1DE; 
    border-radius: 0px;
    margin-left: 5px;
    }
    
 #recipe {
    width: 100%;
     margin: auto;
    text-align: center;
    padding: 20px;
    font-family: Ariel, sans-serif;
    color: #3D405B;
}
#recipe th {
    padding: 10px;
    width: 20%;
    background-color: #E07A5F;
    color: white;
    font-size: 16px;
    border-radius: 5px; 
}
        
#recipe td {
    padding: 4px;  
    font-size: 15px;
      font-weight: bold;
    color:#3D405B; 
    text-align: left;
}
        
#recipe td:hover {
    background-color:#81B29A;
    color: #3D405B;
}
        
#recipe a {
    text-decoration: none;
    color:#3D405B; 
}
        
#recipe a:hover {
    color:#3D405B;
    font-size: 110%;
}

#div_month {
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
    font-family: Ariel, sans-serif;
    margin-top: 10px;
    text-align: center;
    }

#note_button {
    text-decoration: none;
    border: none;
    background-color: #E07A5F;
    color: white;
    font-size: 16px;
    background-color:#81B29A;
    padding: 10px;
    font-weight: bold;
    }
#note_button:hover {
    color:#3D405B;
    font-weight: bold;
    background-color:#81B29A;
    cursor: pointer;
    } 
@keyframes runSlider{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-265px * 6 ));
    }
}
}

/* For laptop/desktop */
@media only screen and (min-width: 1000px) {

#div_menu {
    width: 50%; 
    height:30px; 
    margin: auto; 
    margin-top: 0;
    border-bottom-color: #daa520;
    border-bottom-style: solid;
    background-color:#FDFEFF; 
    margin-top: -30px;
    padding: 5px;
    text-align: left;
   
}
    
#buttonmenu {
    color: black;
    background-color: #FDFEFF;
    border: none;
    padding: 8px 8px;
    font-family: Ariel, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
}
        
#buttonmenu:hover {
    background-color: #daa520;
    color: ghostwhite;
    font-size: 16px;
}

#div_bookshelf {
        display: none;
    }
#bookshelf_img {
    margin-top: 15px;
    width:30%;
    height: 130px;
    margin-bottom: 20px;
}

#note {
    width: 49%;
    margin: auto;
    font-family: Ariel, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#81B29A;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    text-align: center;
    }
#block {
    display: block;
    background-color: #81B29A;
    width: 50%;
    height: 15px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    } 
#table_wrap {
    display: table; 
    width: 50%; 
    margin: auto; 
    margin-bottom: 0; 
    background-color: #F4F1DE; 
    border-radius: 0px;
    }
    
 #recipe {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: Ariel, sans-serif;
    color: #3D405B;
}
#recipe th {
    padding: 10px;
    width: 20%;
    background-color: #E07A5F;
    color: white;
    font-size: 14px;
    border-radius: 5px; 
}
        
#recipe td {
    padding: 4px;  
    font-size: 13px;
      font-weight: bold;
    color:#3D405B; 
    text-align: left;
}
        
#recipe td:hover {
    background-color:#81B29A;
    color: #3D405B;
}
        
#recipe a {
    text-decoration: none;
    color:#3D405B; 
}
        
#recipe a:hover {
    color:#3D405B;
    font-size: 110%;
}

#div_month {
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
    font-family: Ariel, sans-serif;
    margin-top: 10px;
    text-align: center;
    }

#note_button {
    text-decoration: none;
    border: none;
    background-color: #E07A5F;
    color: white;
    font-size: 16px;
    background-color:#81B29A;
    padding: 10px;
    font-weight: bold;
    }
#note_button:hover {
    color:#3D405B;
    font-weight: bold;
    background-color:#81B29A;
    cursor: pointer;
    }    

footer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 50%;
    padding: 20px;
    background-color: #800020;
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
/* Slideshow code start here */
.slider ul{
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: runSlider 15s linear infinite;
}
.slider img{
    width: 250px;
    margin-right: 10px;
}
.slider li{

   
    letter-spacing: 1px;
    font-family: monospace;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 250px;
    padding: 10px 0 10px 10px;
    margin-right: 5px;
}
.slider{
    overflow: hidden;
    width: 50%;
    margin: auto;
}
@keyframes runSlider{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-265px * 7.5 ));
    }
}
